/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

/*h2, h3, h4, h5, h6 {
  font-size: 100%; }*/

h1 { margin-bottom: 1em; }
h2 { margin-top: 1em; }
p { margin: 1em 0; }

a         { color: #00a; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 1.3em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/



.post ul, .post ol {
  margin-left: 1.35em;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Disable Link highlighting
/*
/*****************************************************************************/
a:focus { outline: 0; }

/*****************************************************************************/
/*
/* Tables
/*
/*****************************************************************************/
table a:link {
    color: #666;
    font-weight: bold;
    text-decoration:none;
}
table a:visited {
    color: #999999;
    font-weight:bold;
    text-decoration:none;
}
table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration:underline;
}
table {
    font-family:Arial, Helvetica, sans-serif;
    color:#000;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#DDD;
}
table th {
    padding:5px 8px 6px 8px;
    font-size:15px;
}
table tr{
    text-align: center;
    padding-left:20px;
}
table tr td:first-child{
    text-align: left;
}
table tr td {
    padding:9px;
}
table tr:nth-child(odd) {
    background: #FFFFFF;
}
table tr:nth-child(even) {
    background: #F5F5F5;
}
pre {
    text-align: left;
}

/*****************************************************************************/
/*
/* Tabs
/*
/*****************************************************************************/
#tabs {
    border: 0px;
}

#tabs .ui-tabs-panel {
    padding: 0.0em;
}

#tabs .ui-tabs-anchor {
    padding: 0.3em;
}

#tabs .ui-widget-header {
    border: 0px;
    background: #FFF;
}

#tabs li {
    font-size: 75%;
}

#tabs .ui-state-default {
    background: #FFF;
}

#tabs .ui-tabs-active {
    background: #f8f8f8;
    font-weight: bold;
}

/*****************************************************************************/
/*
/* Code
/*
/*****************************************************************************/

code {
  border: 1px solid #ddd;
  padding: 0 .2em;
}

code, tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px; 
}

pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

.highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
    overflow: auto;
    border: 1px solid #ddd;
    padding: 0 .4em;
}

pre tt {
    background-color: transparent;
    border: none; 
}

/*****************************************************************************/
/*
/* Dropdown
/*
/*****************************************************************************/
.dropdown-menu img {
    width: 24px;
    heigth: 24px;
}

/*****************************************************************************/
/*
/* Secondary menu
/*
/*****************************************************************************/
#nav img {
    width: 28px;
    vertical-align: middle;
}

#nav span {
    display: none;
}
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    background-color: #F5F5F5;
    border-bottom: 5px solid #DDDDDD;
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 5%;
}
#nav ul.subs {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #333333;
    display: none;
    left: 0;
    padding: 2%;
    position: absolute;
    top: 50px;
    width: 96%;
}
#nav > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
    text-align: left;
}
#nav li a {
    display: block;
    text-decoration: none;
    white-space: normal;
}
#nav > li > a {
    color: #333333;
    display: block;
    font-size: 1.1em;
    line-height: 44px;
    padding: 0 15px;
}
#nav > li:hover > a, #nav > a:hover {
    color: #777777;
}
#nav li.active > a {
    background-color: #333333;
    color: #FFFFFF;
}

/* submenu */
#nav li:hover ul.subs {
    display: block;
}
#nav ul.subs > li {
    display: inline-block;
    float: none;
    padding: 10px 1%;
    vertical-align: top;
    width: 33%;
}
#nav ul.subs > li a {
    color: #777777;
    line-height: 20px;
}
#nav ul li a:hover {
    color: #F55856;
}
#nav ul.subs > li > a {
    font-size: 1.3em;
    margin-bottom: 10px;
}
#nav ul.subs > li li {
    float: none;
    padding-left: 8px;
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}
#nav ul.subs > li li:hover {
    padding-left: 15px;
}

/* responsive rules */
@media all and (max-width : 700px) {
    #nav > li {
        float: none;
        border-bottom: 0;
        margin-bottom: 0;
    }
    #nav ul.subs {
        position: relative;
        top: 0;
    }
    #nav li:hover ul.subs {
        display: none;
    }
    #nav li #s1:target + ul.subs,
    #nav li #s2:target + ul.subs {
        display: block;
    }

    #nav ul.subs > li {
        display: block;
        width: auto;
    }
}

