<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        
        <script src="/js/jquery-1.11.0.min.js"></script>
        <link rel="stylesheet" href="/js/jquery-ui-1.10.4/themes/base/minified/jquery-ui.min.css">
        <script src="/js/jquery-ui-1.10.4/ui/jquery-ui.js"></script>

        <!--script src="/js/bootstrap-3.1.1/js/bootstrap.min.js"></script-->
        <script src="/js/jquery-dropdown/jquery.dropdown.min.js"></script>
        <link rel="stylesheet" href="/js/jquery-dropdown/jquery.dropdown.css">

        <script>
        $(function() {
            $( "#tabs" ).tabs();
        });
        </script>

    </head>
    <body>

        <div class="site">
          <div class="header">
              <h1 class="title">
                  <img src="{{ site.url }}/assets/Rx_Logo_S.png" />
                  <a href="/">{{ site.name }}</a>
              </h1>
            <a class="extra" href="/">home</a>
            <a class="extra" href="#" data-dropdown="#polyglot">polyglot</a>
            <div id="polyglot" class="dropdown dropdown-tip">
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ site.url }}/rxjava.html"><img src="{{ site.url }}/assets/icons/java.png" /> RxJava</a>
                    </li>
                        <li class="dropdown-divider"></li>
                    <li>
                        <a href="{{ site.url }}/rxscala.html"><img src="{{ site.url }}/assets/icons/scala.png" /> RxScala</a>
                    </li>
                        <li class="dropdown-divider"></li>
                    <li>
                        <a href="#"><img src="{{ site.url }}/assets/icons/clojure.png" /> RxClojure</a>
                    </li>
                        <li class="dropdown-divider"></li>
                    <li>
                        <a href="#"><img src="{{ site.url }}/assets/icons/kotlin.gif" /> RxKotlin</a>
                    </li>
                        <li class="dropdown-divider"></li>
                    <li>
                        <a href="#"><img src="{{ site.url }}/assets/icons/jruby.png" /> RxJRuby</a>
                    </li>
                        <li class="dropdown-divider"></li>
                    <li>
                        <a href="#"><img src="{{ site.url }}/assets/icons/groovy.png" />RxGroovy</a>
                    </li>
                        <li class="dropdown-divider"></li>
                    <li>
                        <a href="#"><img src="{{ site.url }}/assets/icons/android.png" />RxAndroid</a>
                    </li>
                        <li class="dropdown-divider"></li>
                    <li>
                        <a href="#"><img src="{{ site.url }}/assets/icons/java.png" />RxSwing</a>
                    </li>
                </ul>
            </div>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Reactive Extensions<br />
                Composable Observables<br />
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/ReactiveX">github.com/ReactiveX</a><br />
                <a href="https://twitter.com/ReactiveX">twitter.com/ReactiveX</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
