---
layout: default
---

<div class="container">
    <ul id="nav">
        <li>
            <a href="{{ site.url}}/{{ page.flavor }}/">
                <img src="{{ site.url }}/assets/icons/{{ page.lang }}.png" class="lang-logo" />
                <strong>{{ page.flavor }}</strong>
            </a>
        </li>
        <li><a href="{{ site.url }}/{{ page.flavor }}/quickstart.html">quickstart</a></li>
        <li><a href="#s2">documentation</a>
            <span id="s2"></span>
            <ul class="subs">
                <li><a href="#">Header a</a>
                    <ul>
                        <li><a href="#">Submenu x</a></li>
                        <li><a href="#">Submenu y</a></li>
                        <li><a href="#">Submenu z</a></li>
                    </ul>
                </li>
                <li><a href="#">Header b</a>
                    <ul>
                        <li><a href="#">Submenu x</a></li>
                        <li><a href="#">Submenu y</a></li>
                        <li><a href="#">Submenu z</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="{{ page.repo }}">source</a></li>
    </ul>
</div>

<div class="post">
{{ content }}
</div>
